Source: raspi-config
Section: unknown
Priority: extra
Maintainer: Juan Pedro Gonzalez <opensource@jpg-consulting.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/JPG-Consulting/MinimalPi

Package: raspi-config
Architecture: all
Depends: ${misc:Depends}, whiptail
Description: Simple configuration for Raspberry Pi
