Package: minimalpi-raspi-config
Architecture: all
Source: minimalpi-raspi-config
Version: 0.0.1
Section: unknown
Priority: extra
Maintainer: Juan Pedro Gonzalez <opensource@jpg-consulting.com>
Conflicts: raspi-config
Build-Depends: debhelper (>= 8.0.0)
Depends: parted,whiptail
Standards-Version: 3.9.2
Homepage: https://github.com/JPG-Consulting/MinimalPi
Description: Simple configuration for Raspberry Pi
